[core]
	editor = nano
	excludesfile = ~/.gitignore
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[include]
  path = ~/.gitconfig_secret


# autostash will stash a dirty tree, rebase, then unstash
[rebase]
  autostash = true

# pull will do a rebase instead of a merge
#[pull]
#  rebase = true

# merge is looking harder for renames
[merge]
  renamelimit = 3000

#[branch]
#  autosetuprebase = always
# [push]
# 	default = current
[init]
  templatedir = ~/.git_template
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[push]
	default = current
[user]
	useconfigonly = true
