'release-notes':
  'viewedVersion': '0.69.0'
'welcome':
  'showOnStartup': false
'editor':
  'fontFamily': 'DejaVu Sans Mono'
  'fontSize': 12
  'showInvisibles': true
'core':
  'themes': [
    'atom-soda-dark-ui'
    'railscast-theme'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
    '.cache'
    '.sass-cache'
  ]
  'disabledPackages': [
    'metrics'
    'exception-reporting'
    'feedback'
    'language-c'
    'language-gfm'
    'language-go'
    'language-java'
    'language-make'
    'language-objective-c'
    'language-perl'
    'language-property-list'
    'language-python'
    'language-sql'
    'language-toml'
    'link'
    'release-notes'
    'snippets'
    'welcome'
  ]
'autosave': {}
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
'tree-view':
  'hideIgnoredNames': true
'whitespace':
  'ignoreWhitespaceOnCurrentLine': false
