'welcome':
  'showOnStartup': false
'editor':
  'fontFamily': 'DejaVu Sans Mono'
  'showInvisibles': true
  'preferredLineLength': 79
  'fontSize': 12
'core':
  'themes': [
    'atom-soda-dark-ui'
    'railscast-theme'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
    '.cache'
    '.sass-cache'
    'tmp'
    'log'
    'bundle'
    '.bundle'
  ]
  'disabledPackages': [
    'metrics'
    'exception-reporting'
    'feedback'
    'language-c'
    'language-gfm'
    'language-go'
    'language-java'
    'language-make'
    'language-objective-c'
    'language-perl'
    'language-property-list'
    'language-python'
    'language-sql'
    'language-toml'
    'link'
    'release-notes'
    'snippets'
    'welcome'
  ]
'autosave':
  'enabled': true
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
'tree-view':
  'hideIgnoredNames': true
'whitespace':
  'ignoreWhitespaceOnCurrentLine': false
'zentabs':
  'maximumOpenedTabs': 10
  'neverCloseUnsaved': true
'atom-bitcoin':
  'interval': 30
'scroll-past-end':
  'retainHalfScreen': true
