"*":
  "atom-beautify":
    general:
      _analyticsUserId: "789fd143-de06-47a8-91a8-eba73ff9ac43"
    js:
      indent_size: 2
    json:
      brace_style: "expand"
  "atom-lint": {}
  "auto-update-packages": {}
  autosave:
    enabled: true
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "language-c"
      "language-java"
      "language-make"
      "language-objective-c"
      "language-perl"
      "language-property-list"
      "language-python"
      "language-sql"
      "language-toml"
      "link"
      "welcome"
      "language-mustache"
      "language-csharp"
      "language-clojure"
      "autocomplete-css"
      "language-mongodb"
      "wrap-guide"
      "atom-prettify"
      "about"
      "autocomplete-snippets"
      "background-tips"
      "bookmarks"
      "deprecation-cop"
      "dev-live-reload"
      "encoding-selector"
      "language-hyperlink"
      "language-php"
      "package-generator"
      "language-javascript"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".cache"
      ".sass-cache"
      "tmp"
      "log"
      "bundle"
      ".bundle"
      "node_modules"
      ".gems"
      ".rbenv-gemsets"
      ".bin"
      "*.log"
      ".pry_history"
      ".rake_tasks"
      ".rvmrc"
      ".ruby-version"
      ".rspec"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/Charley/Developer"
    themes: [
      "seti-ui_legacy"
      "solarized-dark-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Fira Code"
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  "fuzzy-finder":
    ignoredNames: [
      "doc"
      "log"
      "tmp"
    ]
    preserveLastSearch: true
  "language-babel": {}
  linter:
    errorPanelHeight: 56
    ignoredLinterErrors: [
      "rubocop"
      "ruby"
    ]
    lintOnChange: false
    lintOnChangeInterval: 3000
    lintOnFly: false
    showErrorTabLine: true
    statusBar: "Show error of the selected line"
  "linter-eslint": {}
  "linter-jshint": {}
  "linter-rubocop":
    command: "rubocop --cache true"
  "linter-slim":
    rails: true
  "markdown-preview": {}
  "multi-wrap-guide":
    columns: [
      80
      100
    ]
    locked: true
    rows: [
      100
    ]
    silent: true
  "one-dark-ui":
    layoutMode: "Compact"
  react:
    enabledForAllJavascriptFiles: true
  rspec:
    command: "foreman run bundle exec rspec"
    force_colored_results: false
    save_before_run: true
  "scroll-past-end":
    retainHalfScreen: true
  "seti-ui":
    compactView: true
    themeColor: "Steel"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  zentabs:
    maximumOpenedTabs: 16
    neverCloseDirty: true
    neverCloseUnsaved: true
".coffee.jsx.source":
  editor:
    preferredLineLength: 109
".coffee.source":
  editor:
    preferredLineLength: 109
  "multi-wrap-guide":
    columns: [
      109
    ]
".jade.source":
  whitespace:
    removeTrailingWhitespace: true
".slim.text":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
  whitespace:
    removeTrailingWhitespace: true
