/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.tree-view {
  font-size: 11px;
  .list-tree li.list-nested-item > .list-item {
    line-height: 22px;
  }
}

.editor {
  .gutter {
    background: rgba(255, 255, 255, 0.05);
    border-right: 2px solid rgba(255, 255, 255, 0.04);
  }
  .line{
    .invisible-character {
      color: transparent;
      &.leading-whitespace {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .line-number.cursor-line-no-selection {
    background: rgba(0, 0, 0, 0.3);
  }

  .invalid.illegal {
    color: #fff;
    background: #DA2C43;
    opacity: 0.9;
  }

  .markup.underline.link.hyperlink {
    color: #F9EE98;
    text-decoration: underline;
  }
  .search-results {
    .marker {
      .region {
        background-color: green;
        opacity: 0.2;
      }
    }
    .marker.current-result {
      .region {
        background-color: green;
        opacity: 0.5;
      }
    }
  }

  .overlayer {
    .autocomplete {
      .list-group {
        li.selected {
          background: rgba(255, 255, 255, 0.05);
        }
      }
    }

    .atom-color-highlight {
      .region {
        -webkit-font-smoothing: inherit;
        padding: 0px 1px;
      }
    }
  }
  .wrap-guide {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.editor {
  &.is-focused {
    .cursors {
      &.blink-off {
        visibility: visible;
      }
      .cursor {
        width: 7px !important;
      }
    }
    .line.cursor-line {
      background: rgba(255, 255, 255, 0.04);
    }
    .crosshairs {
      .crosshair {
        background-color: transparent;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
  }
  .line.cursor-line {
    background: rgba(255, 255, 255, 0.02);
  }

  .cursor {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    visibility: visible;
  }
}

.workspace {
  .select-list {
    &.fuzzy-finder {
      .list-group {
        li.selected {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}
